[Desktop Entry]
Type=Application
Exec=dbus-launch dropbox start -i
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[de_DE]=dropbox-fix
Name=dropbox
Comment[de_DE]=
Comment=
